<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />

        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="default.htm" />
            </files>
        </defaultDocument>

        <rewrite><rules>
          <rule name="Remove WWW prefix">
            <match url="(.*)" ignoreCase="true" />
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^www\.adebateman\.org" />
              <add input="{HTTP_HOST}" pattern="^adrianbateman\.org" />
              <add input="{HTTP_HOST}" pattern="^www\.adrianbateman\.org" />
            </conditions>
            <action type="Redirect" url="https://adebateman.org/{R:1}" redirectType="Permanent" />
          </rule>
          <rule name="HTTP to HTTPS redirect">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
              <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
        </rules></rewrite>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="Strict-Transport-Security" value="max-age=7776000; includeSubDomains" />
            </customHeaders>
        </httpProtocol>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="-1" path="https://adebateman.org/" responseMode="Redirect" />
        </httpErrors>

    </system.webServer>
</configuration>
